article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
[hidden]{display:none;}
html,body{font-family:"Crimson Text",Georgia,serif;height:100%;color:#222222;text-shadow:1px 1px 1px rgba(255, 255, 255, 0.4);}
html{background:#f9f9f9;font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;font-size:120%;line-height:1.5em;}
a:hover,a:active{outline:0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:700;}
blockquote{margin:0;}
dfn{font-style:italic;}
mark{background:#ff0;color:#000;}
pre,code,kbd,samp{font-family:'andale mono','lucida console',monospace;_font-family:'courier new',monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,q:after{content:'';content:none;}
small{font-size:75%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
ul,ol{margin:0;padding:0;}
dd{margin:0;}
nav ul,nav ol{list-style:none;list-style-image:none;}
img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
form{margin:0;}
fieldset{margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;*margin-left:-7px;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;*overflow:visible;}
table button,table input{*overflow:auto;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
::-moz-selection{background:#690e10;color:#fff;text-shadow:none;}
::selection{background:#690e10;color:#fff;text-shadow:none;}
h1,h2,h3,h4,h5,h6{font-family:'Droid Sans',"Lucida Sans","Lucida Grande","Lucida Sans Unicode",sans-serif;font-weight:700;margin:0.5em 0;}h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{font-size:50%;color:#888888;}
h1+p,h2+p,h3+p,h4+p,h5+p,h6+p,h1+time+p,h2+time+p,h3+time+p,h4+time+p,h5+time+p,h6+time+p,h1+img+p,h2+img+p,h3+img+p,h4+img+p,h5+img+p,h6+img+p,h1+img,h2+img,h3+img,h4+img,h5+img,h6+img,h1+ul,h2+ul,h3+ul,h4+ul,h5+ul,h6+ul,h1+ol,h2+ol,h3+ol,h4+ol,h5+ol,h6+ol,h1+time,h2+time,h3+time,h4+time,h5+time,h6+time{margin-top:0.5em;}
h1+time,h2+time,h3+time,h4+time,h5+time,h6+time{display:block;}
h1{font-size:1.4em;}
h2{font-size:1.3em;}
h3{font-size:1.2em;}
h4{font-size:1.1em;}
h5{font-size:1em;}
h6{font-size:1em;}
h1 img,h2 img,h3 img,h4 img,h5 img,h6 img{margin:0;}
time{margin:0.5em 0;}
p{margin:1.5em 0;}
p img.left{float:left;margin:1.5em 1.5em 1.5em 0;padding:0;}
p img.right{float:right;margin:1.5em 0 1.5em 1.5em;}
blockquote{border-left:2px solid #b5b5b5;margin:1.5em;padding-left:1em;font-style:italic;margin-left:-1.1em;}blockquote.pullquote{width:46%;padding:0.5em 2%;float:right;margin:-0.6em 0 0.5em 0.5em;text-align:center;border-left:0;border-top:2px solid #b5b5b5;border-bottom:2px solid #b5b5b5;}
blockquote p:first-of-type{margin-top:0;}
blockquote p:last-of-type{margin-bottom:0;}
strong{font-weight:700;}
em,dfn{font-style:italic;}
dfn{font-weight:700;}
sup,sub{line-height:0;}
sup{vertical-align:super;}
sub{vertical-align:sub;}
abbr,acronym{border-bottom:1px dotted;}
address{margin:0 0 1.5em;font-style:italic;}
pre,img{white-space:pre;overflow-x:scroll;padding:1% 1%;margin:1.5em -1%;background:#e8e8e8;outline:1px solid #d7d7d7;}
pre,code,tt{font:0.8em 'andale mono','lucida console',monospace;line-height:1.5;}
li ul,li ol{margin:0;}
ul,ol{margin:0 0 1.5em 0;}
ul{list-style-type:square;}
ol{list-style-type:decimal;}
dl{margin:0 0 1.5em 0;}
dl dt{font-weight:700;}
dd{margin-left:1.5em;}
table{margin-bottom:1.4em;width:100%;}
th{font-weight:700;}
th,td,caption{padding:4px 10px 4px 5px;}
tfoot{font-style:italic;}
.clearfix,#container,header,article.comment{zoom:1;}.clearfix:after,#container:after,header:after,article.comment:after{display:block;visibility:hidden;height:0;clear:both;content:".";}
hr{background:#B5B5B5;height:2px;margin:0.75em 0;}
a,#logo a{color:#690e10;-moz-transition:all linear 300ms;-ms-transition:all linear 300ms;-o-transition:all linear 300ms;-webkit-transition:all linear 300ms;transition:all linear 300ms;text-shadow:1px 1px 1px rgba(255, 255, 255, 0.4);font-weight:700;border-bottom:0;text-decoration:none;padding:0.25em;margin:-0.25em;}a:link,#logo a:link{color:#690e10;}
a:visited,#logo a:visited{color:#690e10;}
a:hover,#logo a:hover,a:active,#logo a:active,a.current,#logo a.current{color:#470000;-moz-transition:all linear 300ms;-ms-transition:all linear 300ms;-o-transition:all linear 300ms;-webkit-transition:all linear 300ms;transition:all linear 300ms;background:#e8e8e8;}
pre a:hover,pre a:active,pre a.current{background:#d7d7d7;}
form label,form input,form textarea{display:block;font-size:1em;line-height:1.2em;margin-bottom:0.5em;width:46%;margin-top:0.5em;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
form label{margin-bottom:0;}
form textarea{width:71%;}
form input,form textarea{font-family:Georgia,serif;border:0;-moz-box-shadow:inset 2px 2px 3px rgba(0, 0, 0, 0.1);-ms-box-shadow:inset 2px 2px 3px rgba(0, 0, 0, 0.1);-o-box-shadow:inset 2px 2px 3px rgba(0, 0, 0, 0.1);-webkit-box-shadow:inset 2px 2px 3px rgba(0, 0, 0, 0.1);box-shadow:inset 2px 2px 3px rgba(0, 0, 0, 0.1);padding:2%;outline:1px solid #d7d7d7;}
form label,form input[type="submit"]{cursor:pointer;}
form input[type="submit"]{width:auto;padding:0.5em;color:#f9f9f9;background-color:#470000;background-image:-moz-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));background-image:-o-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0.2)), color-stop(1, rgba(255, 255, 255, 0)));background-image:-webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));background-image:linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));text-shadow:0 1px 0 rgba(0, 0, 0, 0.4);border:0;-moz-transition:all linear 300ms;-ms-transition:all linear 300ms;-o-transition:all linear 300ms;-webkit-transition:all linear 300ms;transition:all linear 300ms;}form input[type="submit"]:hover,form input[type="submit"]:active{background-color:#690e10;background-image:-moz-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));background-image:-o-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0.2)), color-stop(1, rgba(255, 255, 255, 0)));background-image:-webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));background-image:linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));}
img{max-width:100%;margin:1.5em 0;}
video{max-width:100%;}
#content .video-js img{margin:0;padding:0;outline:0;}
p+img{margin-top:0;}
nav ul,footer ul{list-style-type:none;}
header{margin-bottom:1.5em;}header ul{margin-bottom:0;}
header a{display:block;border-bottom:0;padding:0 0 0 0.4em;margin:0 0.4em 0 -0.4em;}header a:hover,header a:active{border-bottom:0;background:#e8e8e8;}
nav{margin-top:0.5em;}
article{margin-bottom:1.5em;}
#container{margin:0 auto;width:90%;margin:1em auto;}
header,footer{display:inline;float:left;margin:0 2%;width:21%;}header>h3,footer>h3{margin-top:0;}
#content{display:inline;float:right;margin:0 2%;width:71%;}#content img{float:right;margin-left:1.5em;}
header,footer,#content{margin-bottom:1em;}
#pagination ul,#pagination span{float:left;display:inline;}
#pagination span{padding:5px 10px 5px 0;}
#pagination ol{list-style-type:none;margin-left:0;padding-left:0;overflow:hidden;}#pagination ol li{display:inline;float:left;}
#pagination ol a{display:block;padding:5px 10px;border-bottom:0;margin:0;}
.footnotes{font-size:0.8em;}
#content article.comment{border-bottom:2px solid #b5b5b5;}#content article.comment img.gravatar{width:auto;float:left;margin:1.5em 0.5em 0.5em 0;}
#content article.comment .comment-content{float:right;display:inline;width:80%;}
.comment-success,.comment-warning,.comment-flagged,.contact-success,.contact-warning,.contact-flagged{outline:1px solid;margin:0.5em 0;padding:1%;width:98%;}
.comment-success,.contact-success{color:#4F8A10;background-color:#DFF2BF;}
.comment-warning,.contact-warning{color:#9F6000;background-color:#FEEFB3;}
.comment-flagged,.contact-flagged{color:#D8000C;background-color:#FFBABA;}
@media all and (min-width: 1300px){#container{max-width:1460px;} #content{display:inline;float:right;margin:0 2%;width:46%;padding-right:22.5%;}#content img{max-width:149.5%;margin-right:-50%;} pre{width:150%;} blockquote.pullquote{margin-right:-50%;} form{width:150%;}form .commenter-data,form .comment-message{float:left;display:inline;width:38%;}form .commenter-data input,form .comment-message input,form .commenter-data label,form .comment-message label,form .commenter-data textarea,form .comment-message textarea{width:96%;} form .commenter-data input[type="submit"],form .comment-message input[type="submit"]{width:auto;float:right;} form .commenter-data textarea,form .comment-message textarea{height:169px;width:96%;} form .comment-message{float:right;width:58%;}}@media all and (max-width:920px) and (min-width:480px){#logo{display:inline;float:left;margin:0 2%;width:29.333333333333336%;margin-left:0;font-size:1.4em;line-height:0.95em;} header,#content,footer{display:inline;float:none;margin:0 2%;width:96%;} nav{display:inline;float:right;margin:0 2%;width:62.66666666666667%;margin-right:0;}nav ul{float:right;font-size:1.3em;} nav li{float:left;display:inline;margin-left:0.5em;}nav li a{padding:0.25em;margin:-0.25em;}}@media all and (max-width:534px), screen and (max-device-width: 534px){#content article.comment img.gravatar{float:right;margin:1.5em 0 1.5em 0.5em;} #content article.comment .comment-content{float:none;display:block;width:auto;}}@media all and (max-width:480px), screen and (max-device-width: 480px){blockquote{margin-left:-0.1em;} header nav{margin-top:0;}header nav li{width:50%;float:left;display:inline;}header nav li a{padding:0.25em;margin:-0.25em;} #logo,nav a{text-align:centre;} header,#content,footer{display:inline;float:none;margin:0 2%;width:96%;} #content ul,#content ol{margin-left:1.15em;} blockquote.pullquote{float:none;margin:1.4em 0 1.4em;display:block;width:auto;} form input,form label,form textarea,form div{width:99%;}}
